@import (reference) '~antd/es/style/themes/index';

.home_bg {
  background: linear-gradient(180deg, #dcf0ff 0%, #f5f6fa 100%) no-repeat;
  background-size: 100% 30%;

}

.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;
}

.Header_login_wrap {
  position: relative;
  width: 100%;
  height: 128px;
  display: flex;
  justify-content: center;
  background-color: #0092ff;
}

.Header_headerLoginImg {
  background-image: url(https://staticscdn.zgzpsjz.com/new_yupao_pc/images/zz/ing_sy_banner.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  background-position: 50%;
  background-size: cover;
}

.Header_logins__fL__R {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  width: 1200px;
}

.LoginCollection_home_contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 570px;
  height: 128px;
}

.LoginCollection_sidebar_tel {
  width: 200px;
  height: 44px;
  border-radius: 4px;
  padding: 0 12px;
  color: rgba(0, 0, 0, .85);
  background: #fff;
}

.LoginCollection_sidebar_code {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 226px;
  height: 44px;
  padding: 0 12px;
  color: rgba(0, 0, 0, .85);
  background: #fff;
  border-radius: 4px;
}

.LoginCollection_code_input {
  // color: rgba(0, 0, 0, 0.85);
  border: 0px;
  padding: 0;
  width: 137px;
  display: inline-block;
}

.LoginCollection_code_text {
  position: relative;
  // padding-left: 12px;
  font-size: 13px;
  color: #0092ff;
  font-weight: 400;
  // line-height: 44px;
  cursor: pointer;
}

.LoginCollection_login_submit {
  width: 128px;
  height: 44px;
  border: 1px solid #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  // color: hsla(0,0%,100%,.95);
  color: #fff;
  line-height: 42px;
  border-radius: 4px;
  cursor: pointer;
  background: transparent;
}

.LoginCollection_home_policy {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: absolute;
  bottom: 6px;
  left: 0;

  span {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    line-height: 17px;
  }
}


.home_content_search {
  margin: 40px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

// .searchInput {
//   display: flex;
//   width: fit-content;
// }

// .searchInput_top {
//   display: flex;
// }

.searchInput_search_input_wrap {
  width: 760px;
  height: 56px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  border: 2px solid #0092ff;
  background: #fff;
}

.searchInput_search_input_button {
  width: 144px;
  height: 52px;
  background-color: #0092ff;
  font-size: 16px;
  font-weight: 700;
  // color: #fff;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // cursor: pointer;
  // border-radius: 0 4px 4px 0;
}

.searchInput_tabcard {
  margin-top: 15px;
}

.searchInput_tabcard_tag {
  padding: 3px 8px;
  margin-right: 8px;
  border-radius: 2px;
  background: #fff;
  color: #0092ff;
  cursor: pointer;
}

.category_top_categorybox {
  display: flex;
  margin-bottom: 16px;
}

.category_top_categorybox_left {
  width: 384px;
  height: 460px;
}

.category_top_categorybox_right {
  flex: 1 1;
  overflow: hidden;
  display: flex;
  margin-left: 8px;
}

.category_pic_left {
  width: 500px;
  height: 100%;
  margin-right: 8px;
}

.category_pic_right {
  width: 300px;
  height: 100%;
}

.category_Factory_img {
  width: 100%;
  height: 274px;
  margin-bottom: 8px;
  cursor: pointer;
}

.category_pic_right_box {
  display: block;
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
}

.category_pic_right_item {
  height: 109px;
}